<%= form_with url: post_comments_path(post, post_type: post.class.name), method: :post do |form| %>
  <div class="d-flex gap-3">
    <%= text_field("comment", "content", options = {class: "w-100 form-control"}) %>
    <%= form.submit(value = "Add Comment", options = {class: "btn btn-main-custom"}) %>
  </div>
<% end %>
