<% search_results.each do |user| %>
  <div class="my-3 p-3 bg-white shadow">
    <div class="d-flex">
      <h5 class="me-2"><%= user.full_name %></h5>
      <% if user != current_user %>
        <div class="ms-auto">
         Connect
        </div>
      <% end %>
    </div>
    <div class="d-flex">
      <small>
        <%= pluralize(user.likes.count, 'like') %>,
        <%= pluralize(user.comments.count, 'comment') %>
      </small>
    </div>
  </div>
<% end %>
