<h5 class="app-container mx-auto mt-5">Conversations</h5>

<%= turbo_stream_from [@conversation] %>

<div class="app-container mx-auto mt-3">
  <div class="row g-3">
    <%= render 'sidebar' %>

    <div class="col-12 col-md-8">
      <div class="bg-white shadow rounded p-3 d-flex flex-column conversation-panel">
        <div class="messages-container" data-controller="conversations">
          <div id="messages-list">
            <% if @messages.empty? %>
              <p class="mb-0 text-muted">No messages yet for this conversation.</p>
            <% else %>
              <div>
                <% @messages.each do |message| %>
                  <%= render 'messages/message', message: message, user: current_user %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div id="new-message-form" class="message-form-container">
          <%= render 'messages/new' %>
        </div>
      </div>
    </div>
  </div>
</div>
