<div class="container content p-5 d-flex flex-column align-items-center justify-content-center d-lg-flex flex-lg-row ">

<div class="fixed mb-5 mb-lg-0 me-lg-5">
  <h1 style="color:#4B0082;">Stay Connected</h1>
  <h5>Connected helps you connect with all your friends!</h5>
</div>

<div class="fixed p-3 align-items-center d-flex flex-column justify-content-between shadow bg-white">
  <h3 class="mb-3" style="color:#4B0082;">Join Connected now!</h3>
  <%= button_to 'Sign up with email', root_path, class: "btn btn-info mb-3 custom-btn-width" %>
  <p>Already have an account? </p>
  <%= button_to 'Log in', root_path, class: "btn btn-outline-info custom-btn-width" %>
</div>
  
</div>


