<div class="conainer d-flex justify-content-center  align-items-center vh-100 border border-success">

<div class="me-5 w-25">
  <h1 style="color:#4B0082;">Stay Connected</h1>
  <h3>Connected helps you connect with all your friends!</h3>
</div>

<div class="ms-5">
  <h3 style="color:#4B0082;">Join Connected now!</h3>
  <button>Sign Up!</button>
  <br />
  <button>Log In!</button>
</div>
  
</div>


