<div class="app-container mx-auto mx-3 my-5" data-controller="likes">
  <%= link_to "Share a post!", new_post_path, class: "btn btn-sm btn-main-custom w-100 mb-2" %>
  <%= render 'posts', posts: @all_posts %>
</div>
