@import "bootstrap";

body{
  background-color:#f8f8f8;
  height: 100%;
}

.footer-bg-color{
  background-color: #ededed;
}

.custom-btn-width{
  width: 256px !important;
}

.custom-btn-width-100{
  width: 100px !important;
}

.fixed{
  width: 356px;
}

.div-full-page{
  height: 92vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container{
  max-width: 528px;
}

.nav-container{
  max-width: 1140px;
}

.feed-container{
  max-width: 768px;
}

nav{
  background-color:#4B0082;
  color: white;
}

.btn-main-custom {
  background-color:#4B0082;
  color:white;
  transition-duration: 0.4s;
}

.btn-main-custom:hover {
  background-color:#7300c5;
  color:white;
  transition-duration: 0.4s;
}

.btn-secondary-custom {
  transition-duration: 0.4s;
}

.btn-secondary-custom:hover {
  background-color:#4B0082;
  color:white;
  transition-duration: 0.4s;
}
